.logo-brand-text{
    display: inline-block;    
    /* color:#013362; */
    color:#E24B20;
    font-weight:800;
    /* width:100%; */
    font-size: 22px;
    /* border:2px solid red; */
}

.dp-flex{
    display:flex;
}

.navbar-brand{
    gap:16px;
    align-items: center;
    /* border:2px solid green; */
    /* width:100%; */
}

#bs-example-navbar-collapse-1{
    width:100%;
    /* border:1px solid blue; */
    /* margin-left:-50px; */
}

.banner-text-color{
    color:#efefef;   
}

.header_top .header_top_inner .pull-left a,
.header_top .header_top_inner .pull-right a  {
    opacity: 1;
}

.content-h-center
{
    display:flex; justify-content: center;
}



.cp-bg-transparent{
    background-color: rgba(12, 11, 11, 0.25)
}

