.logo-brand-text{
    display: inline-block;
    /* color:#013362; */
    /* color:#E24B20; */
    color: #81E3D3;
    font-weight:800;
    /* width:100%; */
    font-size: 22px;
    /* border:2px solid red; */
}

.dp-flex{
    display:flex;
}

.db-flex-jc-center{
    justify-content: center;
}

.w100{
    width: 100%;
}

.villa-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-brand{
    gap:16px;
    align-items: center;
    /* border:2px solid green; */
    /* width:100%; */
}

/* .navbar-collapse.in{
    overflow-y: visible;
} */

#bs-example-navbar-collapse-1{
    width:100%;
    /* border:1px solid blue; */
    /* margin-left:-50px; */
}

.banner-text-color{
    color:#efefef;
}

.header_top .header_top_inner .pull-left a,
.header_top .header_top_inner .pull-right a  {
    opacity: 1;
}

.content-h-center
{
    display:flex; justify-content: center;
}



.cp-bg-transparent{
    background-color: rgba(12, 11, 11, 0.25)
}

.landing-page-google-map-iframe{
    width: 550px;
    height: 450px;
}
/* @media only screen and (max-width: 600px) {
    .landing-page-google-map-iframe{
        width: 550px;
        height: 450px;
    }
}

@media only screen and (min-width: 768px) {
    .landing-page-google-map-iframe{
        position: relative;
        width: 450px;
        height: 450px;
    }
}

@media only screen and (min-width: 992px) {
    .landing-page-google-map-iframe{
        width: 550px;
        height: 450px;
    }
}

@media only screen and (min-width: 1200px) {
    .landing-page-google-map-iframe{
        width: 550px;
        height: 450px;
    }
} */

.select2-selection__rendered {
    line-height: 51px !important;
}
.select2-container .select2-selection--single {
    height: 54px !important;
}
.select2-selection__arrow {
    height: 54px !important;
}

.error{
    padding:5px;
    color:red;
    font-size:11px;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.75) url("../images/loading/Rolling-1s-200px.svg") no-repeat center center;
    z-index: 10000;
  }

  .resort-background{

        background-color:rgba(29, 59, 41);
        background-image: url("../images/logos/mangrove_view_logo_lemon_chiffon_color.png");
        background-size:96px;

  }

  .resort-block-container{
    background-color:#fff;
    padding:64px;
  }

  .carousel-caption-landing{
    width: 100%;
    /* height:15%; */
    margin-left: -20%;
    margin-bottom: -2%;
    background-color: rgba(0,0,0, 0.5);
  }

  #carousel-indicator-landing-main{
    margin-bottom: 0%;
  }

  .landing_carousel_img{
    max-height:860px;
  }

  @media only screen and (min-width: 1450px) {
    .carousel-caption-landing{
        height:16%;
    }
  }

  @media only screen and (min-width: 1140px)  and (max-width: 1449px){
    .carousel-caption-landing{
        height:20%;
    }
  }

  @media only screen and (min-width: 769px)  and (max-width: 1139px) {
    .carousel-caption-landing{
        height:27%;
    }
  }

  @media only screen and (max-width: 768px) {
    .carousel-caption-landing{
        width: 100%;
        height:40%;
        /* margin:5%; */
        margin-left:-15%;
        margin-bottom: -3%;
    }
  }

  @media only screen and (max-width: 576px) {
    .carousel-caption-landing{
        height:45%;

    }
}



